.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  .slide {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-out;
    &.active {
      opacity: 1;
    }
    .slide-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
